
body {
    font-family: 'Work Sans', sans-serif;
    background-color: #CDD193;
  }
  :root{
    --green-dark:#426d49;
    --green-2: #5f904a85;
    --white2: #fefefe;
  }
/* menu navegação */
img{
    width: 300px;
   height: 150px;
}
.navbar{
    background-color: #426d49;
    padding-bottom: 24px;
    margin: 0px;
    border: 0px;
    
}

.nav-item{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    margin: 18px;
}
.nav-item:hover{
    color: #BACC81
}
/* -- botão --*/
.mudacortexto{
    color: #fefefe;
}
.btn{
    background-color: #426d49a6;
}
.btn:hover{
    background-color: #BACC81;
}
.dropdown-header{
    text-align: center;
}
.form-control{
    width: min-content;
}

/*-----------------------------------------------*/

.vazia {
    background: rgba(251, 211, 185, 0.623);
    padding-top: 20px;
}

.cardapio-normal{
    display: inline;
    width: 20%;
}

ul {
    list-style: none;
    /* tirar bola dos marcadores */
}
.cardapio-normal {
    display: inline;
    width: 20%;
    text-align: center;
}

.semana {
    font-weight: 600;
    font-size: 1.2em;
    /*line-height: 2 px; -> espaçamento entre frases */
    padding: 15px;
}
.vazia_2 {
    background: rgba(251, 211, 185, 0.623);
    padding: 15px;
    display: block;
    width: 30%;
    margin: 0 0 0 420px;;
 }

h2 {
    color: rgba(53, 137, 26);  
    font-size: 1.5em;
    text-align: center;
    padding: 20px 0 0 0;
}
.cardapio-organico {
    display: inline;
    width: 20%;
    text-align: center;
}
.semana-organico {
    font-weight: 500;
    font-size: 20px;
}
.semana-organico {
    font-weight: 600;
    font-size: 1.2em;
    padding: 15px;
    /*line-height: 2 px; -> espaçamento entre frases */
}

.vazia_3 {
    background: rgba(251, 211, 185, 0.623);
    padding-top: 20px;
}

/*---------------- footer -------------------------*/
.footer{
    background-color: #426d49;
}
.container{
    display: flexbox;
}

.social-icons{
    display: inline;
    width: 25px;
    height: 25px;
    margin: 10px;
    
}
.cortexto{
    color: #ffffff;
    font-weight: 400;
}


