
body {
    font-family: 'Work Sans', sans-serif;
    background:  #fefefe;
  }
  :root{
    --green-dark:#426d49;
    --green-2: #5f904a85;
  }
 /* formulario */ 
  .login-form {
    display: flex;
    background-color: #5f904a85;
    color: black;
    font-weight: 400;
    padding: 10px;
    font-size: smaller;
    font-family: 'Work Sans', sans-serif;
  }
   
  .submit-button {
    margin-left: 10px;
    align-self: flex-end;
  }
    
  .input-container + .input-container {
    margin-left: 10px;
  }
  
  .input-container label {
    display: block;
  }

/* menu navegação */
img{
    width: 300px;
   height: 150px;
}
.navbar{
    background-color: #426d49;
}
.nav-item{
    color: #fefefe;
    font-size: 28px;
    font-weight: 500;
    margin: 18px;
}
.nav-item:hover{
    color: #b3be15
}



/*-----------------------------------------------*/

.vazia {
    background: rgba(251, 211, 185, 0.623);
    padding-top: 20px;
}

.cardapio-normal{
    display: inline;
    width: 20%;
}

ul {
    list-style: none;
    /* tirar bola dos marcadores */
}
.cardapio-normal {
    display: inline;
    width: 20%;
    text-align: center;
}

.semana {
    font-weight: 600;
    font-size: 1.2em;
    /*line-height: 2 px; -> espaçamento entre frases */
    padding: 15px;
}
.vazia_2 {
    background: rgba(251, 211, 185, 0.623);
    padding: 15px;
    display: block;
    width: 30%;
    margin: 0 0 0 420px;;
 }

h2 {
    color: rgba(53, 137, 26);  
    font-size: 1.5em;
    text-align: center;
    padding: 20px 0 0 0;
}
.cardapio-organico {
    display: inline;
    width: 20%;
    text-align: center;
}
.semana-organico {
    font-weight: 500;
    font-size: 20px;
}
.semana-organico {
    font-weight: 600;
    font-size: 1.2em;
    padding: 15px;
    /*line-height: 2 px; -> espaçamento entre frases */
}

.vazia_3 {
    background: rgba(251, 211, 185, 0.623);
    padding-top: 20px;
}

/*-----------------------------------------------*/

footer {
    background: rgba(251, 211, 185);    
}
.img_rodape {
    padding-left: 47% ;
   }

.copyright {
    text-align: center;
    padding-bottom: 7px;
}
/*-----*/

  



  

 
