body {
    font-family: 'Work Sans', sans-serif;
    background-color: #fff;
}

/* menu navegação */
.img-h1{
    width: 300px;
   height: 150px;
}
.navbar{
    background-color: #426d49;
    padding-bottom: 24px;
    margin: 0px;
    border: 0px;
    
}

.nav-item{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    margin: 18px;
}
.nav-item:hover{
    color: #BACC81
}

/*---- Main ----*/
.container{
    margin: 0px, 0px, 0px, 0px;
}
.marketing{
   padding: 0px;
}
.primeiro{
    padding: 40px 80px 80px 80px;
    background-color: #EFE7BC;
}
.col-md-7{
    margin-top: 30px;
}
.ajuste-1{
    padding: 240px 0px 0px 10px ;
}
.lead{
    margin-top: 40px;
    font-size: 1.2rem;
}
.img-fluid{
    width: auto;
}
.featurette-heading{
    font-size: 1.8rem;
}

.segundo{
    background-color: #93E9BE;
}
.cozinheiro{
    width: 90%;
}
.order-md-2{
    padding: 150px 15px 0px 15px;
}
.pratos{
    background-color: #fff;
}
.quarto{
    background-color: #E7F2F8;
    display: flex;
}
.entrega{
    width: 50%;
}

/*---------------- footer -------------------------*/
.footer{
    background-color: #426d49;
}
.container{
    display: flexbox;
}

.social-icons{
    display: inline;
    width: 25px;
    height: 25px;
    margin: 10px;
    
}
.cortexto{
    color: #ffffff;
    font-weight: 400;
}